h1{color: #f32e2e;}

h2{color:#b42323}

h3{color:#701313}

.hotpink-header {color: hotpink;}

.main-heading {color: #2e31f3;}
#top {background-color: plum;}

header{background-color:bisque}
body{background-color: blanchedalmond;}
footer{background-color: blanchedalmond;}
.paragraf {background-color: purple;}
  
nav a{color: burlywood}
a {color: darkslategrey}